<footer>
    <p>
        source: <span class="license">MIT-0</span> · content: <span
            class="license">CC-BY-4.0</span>
    </p>
    <p>Copyright @k4fyred. All rights reserved.</p>
</footer>
