<header>
    <nav aria-label="Site">
        <a href="/">k4fy.red</a>
        <span>
            <a href="/posts/">posts</a>
            <a href="/rss.xml">rss</a>
        </span>
    </nav>
</header>
